@model Rosentis.DataContract.Brands.BrandDto
@{
}
<div class="swiper-slide">
	<div class="products-swiper-p-box">
		<a class="products-swiper-img" href="#" >
			<img alt="@Model.Name" class="swiper-lazy" data-src="@Model.Logo" src="@Model.Logo" width="150" height="150">
		</a>
	</div>
</div>
