<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net462" requireReinstallation="true" />
  <package id="libphonenumber-csharp" version="8.11.2" targetFramework="net462" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="StructureMap" version="4.7.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.6.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net462" />
</packages>